<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Sold Item</title>
</head>

<body style="
        font-family: Arial;
        background-color: #efefef; 
        padding: 8px 0 24px 0;">
    <table style="
            background-color:#ffffff;
            font-size: 17px;
            font-family: Montserrat, serif;
            margin: auto; 
            margin-top: 16px;
            max-width:600px;
            padding: 16px;
            width:100%;">
        <tbody>
            <tr>
                <td style="
                            background-color: #8bc34a;
                            color: #fff;
                            display: flex;
                            padding: 8px 16px;">
                    <div>
                        <img alt="Logo" src="https://swiplug-bucket.s3.ca-central-1.amazonaws.com/logo/swiplug-logo-128.png" style="
                                    	width: 80px;
                                    	object-fit: contain;
    									max-height: 60px;" />
                    </div>
                    <div style="
                                font-style: italic;
                                font-size: 22px;
                                margin: auto 0;
                                padding-left: 90px;">
                        Sold Item !
                    </div>
                </td>
            </tr>
            <tr>
                <td style="
                        padding: 24px 0 0px 0;">
                    <table>
                        <span>
                            Hi {{ firstname }}!
                        </span>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="
                        padding: 24px 0 0px 0;">
                    <table>
                        <span>
                            Congratulations ! <br />
                            Your offer <i>{{ title }}</i> has been sold for {{ price }} $CAD.<br /><br />
                            Please make sure to contact the Swiper to proceed to the transaction.<br />
                            Your funds are kept on the platform until the Swiper receives the item.<br /><br />
                            To consult your offer, please click on the link below:
                        </span>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="
                        padding: 24px 0 0px 0;">
                    <table>
                        <center>
                            <a style="
                            padding: .75rem .75rem;
                            border: 1px solid transparent;
                            font-size: 1rem;
                            line-height: 1.5;
                            border-radius: .25rem;
                            background-color: #8bc34a;
                            cursor: pointer;
                            color: #fff;
                            border-color: #8bc34a;
                            text-decoration: none;
                            font-weight: bold;
                            " href={{ url }}>View offers</a>
                        </center>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="
                        padding: 24px 0 50px 0;">
                    <table>
                        <span>
                            The Swiplug Team!
                        </span>
                    </table>
                </td>
            </tr>
            <td style="
                display: flex;
                flex-direction: column;
                background-color: #e8e8e8;">
                <p style="
                    font-size: 15px;
                    margin: auto;
                    text-align: center;">
                    Copyright © 2019, Swiplug  Mrkt.
                </p>
            </td>
        </tbody>
    </table>
</body>
</html>