<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Reset Password</title>
</head>

<body style="
        font-family: Arial;
        background-color: #efefef; 
        padding: 8px 0 24px 0;">
    <table style="
            background-color:#ffffff;
            font-size: 17px;
            font-family: Montserrat, serif;
            margin: auto; 
            margin-top: 16px;
            max-width:600px;
            padding: 16px;
            width:100%;">
        <tbody>
            <tr>
                <td style="
                            background-color: #8bc34a;
                            color: #fff;
                            display: flex;
                            padding: 8px 16px;">
                    <div>
                        <img alt="Logo" src="https://swiplug-bucket.s3.ca-central-1.amazonaws.com/logo/swiplug-logo-128.png" style="
                                    	width: 80px;
                                    	object-fit: contain;
    									max-height: 60px;" />
                    </div>
                    <div style="
                                font-style: italic;
                                font-size: 22px;
                                margin: auto 0;
                                padding-left: 90px;">
                        Reset Password!
                    </div>
                </td>
            </tr>
            <tr>
                <td style="
                        padding: 24px 0 0px 0;">
                    <table>
                        <span>
                            <b>Hi</b>,
                        </span>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="
                        padding: 24px 0 0px 0;">
                    <table>
                        <span>
                            You're receiving this email because you requested a password reset for your user account at Swiplug.
                        </span>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="
                        padding: 24px 0 0px 0;">
                    <table>
                        <span>
                            Please click to the following link and choose a new password:
                        </span>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="
                        padding: 24px 0 0px 0;">
                    <table>
                        <center>
                            <a style="
                            padding: .75rem .75rem;
                            border: 1px solid transparent;
                            font-size: 1rem;
                            line-height: 1.5;
                            border-radius: .25rem;
                            background-color: #8bc34a;
                            cursor: pointer;
                            color: #fff;
                            text-decoration: none;
                            font-weight: bold;
                            " href=https://www.swiplug.com/reset/password/{{uid}}/{{token}}>Change Your Password</a>
                        </center>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="
                        padding: 50px 0 0px 0;">
                    <table>
                        <span>
                            Button not working? Try pasting this link into your browser:<br />
                        <span style="text-decoration: underline;">https://www.swiplug.com/reset/password/{{uid}}/{{token}}</span>
                        </span>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="
                        padding: 24px 0 50px 0;">
                    <table>
                        <span>
                            Thank you from Swiplug Team!
                        </span>
                    </table>
                </td>
            </tr>
            <td style="
                display: flex;
                flex-direction: column;
                background-color: #e8e8e8;">
                <p style="
                    font-size: 15px;
                    margin: auto;
                    text-align: center;">
                    Copyright © 2019, Swiplug&trade;
                </p>
            </td>
        </tbody>
    </table>
</body>
</html>